name: Docker CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build -t node-app -f ./Dockerfile .

      - name: Test Docker image
        run: |
          docker run -d --name test-node-app node-app
          sleep 10
          docker logs test-node-app
          docker rm -f test-node-app
